@keyframes selectedDot {
    0%{transform:translateX(-10px)}
    50%{transform:translateX( 10px)}
    100%{transform:translateX(0px)}
}

@keyframes slideTransition {
    0% { opacity: 0; transform: translateX(-20px); }
    100% { opacity: 1; transform: translateX(0); }
}
  

.dot {
    width: 10px;
    height: 10px;
    border-radius: 32px;
    background: #000000;
    cursor: pointer;
}

.active {
    composes : dot;
    background: #c90d0de6;
    transform: scale(1.5);
    animation: selectedDot 1s ease-in-out;
}

.dots {
    display: contents;
}

.slide {
    object-fit: cover;
    height: clamp(400px, 72vh, 75rem);
    width: 100%;
}

.slideTransition{
    animation: slideTransition 1s ease;
}

.containerCarosello {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
    align-items: center;
}

.carouselNavigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(300px, 55vw, 65rem);
}

.prev {
    background-image: url('src/media/Carosello/arrow-left-thick.svg');
    height: 2.2rem;
    width: 3rem;
    background-size: 100% 100%;
    background-color: #ffffff00;
    border: none;
}

.next {
    background-image: url('src/media/Carosello/arrow-right-thick.svg');
    height: 2.2rem;
    width: 3rem;
    background-size: 100% 100%;
    background-color: #ffffff00;
    border: none;
}

.prev:hover, .next:hover {
    transform: scale(1.2);
}

.carosello {
    width: 100%;
}