.dot {
    width: 30px;
    height: 10px;
    border-radius: 32px;
    background: #ffffff;
    cursor: pointer;
}

.active {
    composes : dot;
    background: #b38c17;
    transform: scale(1.6);
}

.dots {
    display: contents;
}

.slide {
    object-fit: cover;
    object-position: top;
    border-radius: 16px;
    height: 400px;
    width: clamp(300px, 50vw, 60rem);
}

.containerCarosello {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
    background-color: #19081c;
    padding: 2rem 0px;
    align-items: center;
}

.carouselNavigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(300px, 30vw, 40rem);
}

.prev {
    background-image: url('src/media/Carosello/arrow-left-thick.svg');
    height: 2.2rem;
    width: 3rem;
    background-size: 100% 100%;
    background-color: #ffffff00;
    filter: invert(1);
    border: none;
}

.next {
    background-image: url('src/media/Carosello/arrow-right-thick.svg');
    height: 2.2rem;
    width: 3rem;
    background-size: 100% 100%;
    background-color: #ffffff00;
    filter: invert(1);
    border: none;
}

.prev:hover, .next:hover {
    transform: scale(1.2);
}

