@keyframes selezionato {
    0%   {width: 56px;}
    30%  {width: 66px;}
    60%  {width: 70px;}
    80%  {width: 76px;} 
    100% {width: 56px;}
}

@keyframes bounce {
    0% {
        transform: scaleY(0);
    }
    70% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

.contenitoreNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1rem 0.5rem;
    position: sticky;
    top: 0;
    z-index: 5;
}

.cercaBtn {
    border-left: none;
    width: 55px;
    height: 38px;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-image: url(/cerca.svg);
    background-size: 100% 100%;
    filter: invert(1);
    background-color: #30f6ff;
}

.cercaInput {
    background-color: #bfbfbf40;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 8px;
    height: 22px;
    border: none;
    color: rgb(0 0 0);
    letter-spacing: 1px;
    width: 100%;
}

.form {
    display: flex;
}

.contenitoreLink {
    justify-content: space-around;
    display: flex;
    flex: 1;
    margin: 0;
    list-style: circle;
    padding: 10px;
    color: white;
}

.contenitoreButton {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

.selezionato {
    border-bottom: 3px solid black;
    position: fixed;
    text-align: center;
    animation: selezionato 1s ease-in-out; /* Durata di 1 secondo, accelerazione iniziale ed esalazione */
    animation-delay: 0.1s;
}

.nonSelezionato{
    position: fixed;
}

.nonSelezionato:hover {
    letter-spacing: 0.3rem;
}

.logo {
    height: 4rem;
    width: 4rem;
}

.icone {
    background-size: 100% 100%;
    background-color: white;
    height: 2.5rem;
    width: 2.5rem;
}

.user {
    composes: icone;
    background-image: url(/user.svg);
}

.cart {
    composes: icone;
    background-image: url(/cart.svg);
}

.menuVisibile {
    animation: bounce 500ms ease-in-out;
    transform-origin: top;
    color: white;
}

.contenitoreNavbarMobile {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1rem 0.5rem;
    position: sticky;
    top: 0;
    z-index: 5;
    flex-direction: column;
    gap: 2rem;
}

.elementoLista {
    margin-bottom: 1rem;
}

.menuAperto {
    composes: icone;
    background-image: url(/menu-open.svg);
}

.menuChiuso {
    composes: icone;
    background-image: url(/menu.svg);
}

.searchBar {
    composes: icone;
    background-image: url(/cerca.svg);
}

.tornaSuBtn {
    composes: icone;
    background-image: url(/up.svg);
    position: fixed;
    z-index: 100;
    bottom: 25px;
    right: 25px;
    filter: invert(1);
}