@keyframes bounce {
    0% {
        transform: scaleY(0);
    }
    70% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

.contenitorelinkSconto {
    font-size: 1.5rem;
    display: flex;
    width: 100%;
}

.linkSconto {
    background-color: black;
    background-size: 400% 400%;
    animation: gradient 16s ease infinite;
    text-align: center;
    flex: 1;
    color: white;
    font-size: clamp(11px, 1.2vw, 2rem);
}

.contenitoreShop {
    display: flex;
    width: 100%;
    flex: 1;
    flex-wrap: wrap;
}

.contenitoreShopMobile {
    flex-direction: column;
    display: flex;
    flex: 1;
}

.sideBar {
    flex: 1;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
}

.form {
    display: flex;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0px 1rem;
    background-color: white;
}

.input {
    padding: 8px;
    border: none;
    color: rgb(0 0 0);
    letter-spacing: 1px;
    width: 100%;
    font-size: 1rem;
    outline: none;
}

.searchBtn{
    background-image: url(/right.svg);
    background-size: 100% 100%;
    background-color: #ffffff00;
    height: 3rem;
    width: 3rem;
    outline: none;
    transition: transform 1s;
    border: none;
}

.contenuto {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    justify-content: space-around;
}

.searchBtn:hover {
    transform: translateX(15px);
}

.searchBtn:focus {
    outline: none;
}

.menuVisibile {
    animation: bounce 500ms ease-in-out;
    transform-origin: top;
    background-color: #ffffff;
    padding: 1.5rem 1rem;
    font-size: clamp(14px,1.5vw,4rem);
    margin: 0;
    list-style: none;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.categorie{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.categorieBtn {
    background-size: 100% 100%;
    height: 3rem;
    width: 3rem;
    background-color: #ffffff00;
    padding: 0px;
    transition: transform 1s;
}

.chiudiCategorieBtn {
    composes: categorieBtn;
    background-image: url(/menu-up.svg);
}

.apriCategorieBtn {
    composes: categorieBtn;
    background-image: url(/down.svg);
}

.listElement {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    border-bottom: 2px solid black;
}

.listBtn {
    width: 90%;
    background: #ffffff00;
}

.categorieBtn:focus, .listBtn:focus {
    outline: none;
}

.categorieBtn:hover{
    
}